body {
  background-color: black;
}

.titulo {
  text-align: center;
   margin-right:0;
   margin-left:0;
   margin-top: 0;
   color: black;
  font-style: italic;
  font-size: 50px;
  background-color: lightgrey;
}

.parrafodeintroduccion {
  color: white;
  font-style: italic;
  font-size: 30px;
}
h1 {
  color: white;
}

img {
  height: 200px;
  border-radius: 10px;
}
p {
  color: white;
  font-style: italic;
  font-size: 20px;
}
footer {
  background-color: lightgrey;
}